.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid #ccc;
}

button{
    border: none;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 23px;
    border-radius: 6px;
    cursor: pointer;
}

.modal{
    position: absolute;
    top: 0;
    z-index: 999;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: #fff;
    height: auto;
    width: 100%;
    flex: 0.2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.modal-content input:focus{
    border: 1px solid dodgerblue !important;
}

.modal-content button{
    background-color: dodgerblue;
    color: #fff;
}


.opt-container{
    @apply flex justify-between gap-2;
    height: 70px !important;
}

.opt-container input{
    @apply !mr-0 flex-1 py-5 outline-none;
}

.react-tel-input .form-control{
    @apply !w-full  py-6 !text-base;
    height: 50px !important;

}

/*#recaptcha-container{
    position: absolute;
    z-index: 999999;
    display: none;
    visibility: hidden;
}*/